﻿@using MoneyTransfer.ViewModels
@model MoneyTransfer.ViewModels.LoginViewModel

<h2>Вход в приложение</h2>
<form method="post" asp-controller="Account" asp-action="Login"
      asp-route-returnUrl="@Model.ReturnUrl">
    <div asp-validation-summary="ModelOnly"></div>
    <div>
        <label class="text-primary" asp-for="PersonalAccount">Ваш лицевой счет</label><br />
        <input asp-for="PersonalAccount" class="form-control" placeholder="Лицевой счет" />
        <span asp-validation-for="PersonalAccount"></span>
    </div>
    <div>
        <label class="text-primary" asp-for="Password">Пароль</label><br />
        <input asp-for="Password" class="form-control" placeholder="Пароль" />
        <span asp-validation-for="Password"></span>
    </div>
    <div class="checkbox">
        <label class="text-primary" asp-for="RememberMe"><input asp-for="RememberMe" /><b>Запомнить меня</b> </label>
    </div>
    <div>
        <input type="submit" class="btn btn-primary active" value="Войти" />
    </div>
</form>