﻿@using MoneyTransfer.ViewModels
@model MoneyTransfer.ViewModels.RegisterViewModel
<h2>Регистрация нового пользователя</h2>
<form method="post" asp-controller="Account" asp-action="Register">
    <div asp-validation-summary="ModelOnly"></div>
    <div>
        <label class="text-primary" asp-for="Name">Ваше имя</label><br />
        <input asp-for="Name" class="form-control" placeholder="Ваше имя" />
        <span asp-validation-for="Name"></span>
    </div>
    <div>
        <label class="text-primary" asp-for="Password">Пароль</label><br />
        <input asp-for="Password" class="form-control" placeholder="Пароль" />
        <span asp-validation-for="Password"></span>
    </div>
    <div>
        <label class="text-primary" asp-for="PasswordConfirm">Подтвердите пароль</label><br />
        <input asp-for="PasswordConfirm" class="form-control" placeholder="Подтверждение пароля" />
        <span asp-validation-for="PasswordConfirm"></span>
    </div>
    <div>
        <input type="submit" class="btn btn-primary active" value="Регистрация" />
    </div>
</form>